.sort_container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;

    .label {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 18px;
        font-weight: 300;
    }

    .select {
        appearance: none;

        font-family: 'Lexend Deca', sans-serif;
        font-size: 18px;
        font-weight: 400;

        padding: 6px 12px;
        background-color: #3939390d;
        color: var(--primary-text-color);
        border: 1px solid #39393952;
        border-radius: 6px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}
