.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading_container {
        position: relative;
        // width: 5rem;
        // height: 5rem;

        .loading_progress {
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 5px solid var(--light-accent-color);

            &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                border: 5px solid transparent;
                border-top-color: var(--primary-accent-color);

                top: -5px;
                left: -5px;

                animation: spin 1s linear infinite;
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}
