.footer {
    display: flex;
    justify-content: center;
    background-color: var(--primary-light-color);

    padding: 32px;

    .content_container {
        width: 100%;
        max-width: 1280px;

        display: flex;
        justify-content: space-between;
    }
}
