:root {
    --primary-background-color: #fafafa;
    --secondary-background-color: #ededed;

    --primary-text-color: #393939;
    --secondary-text-color: #545454;

    --primary-accent-color: #f17900;
    --light-accent-color: #fbd6b288;
    --secondary-accent-color: #e0a449;

    --button-color: #f9f9f9;
    --button-active-color: #fbd7b24d;
    --button-pressed-color: #fbd6b288;
    --button-disabled-color: #f9f9f9bc;

    --primary-light-color: #fff;

    --header-background-color: linear-gradient(
        90deg,
        #343333 38.05%,
        #484848 69.22%,
        #282828 98.98%
    );
    --card-border: 1px solid #f0f1f1;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-weight: 500;
    color: var(--secondary-accent-color);
    text-decoration: inherit;
}
a:hover {
    color: var(--primary-accent-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    width: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
